.jogo{
    background: #9BE5E4;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.nuvens{
    width: 20vh;
    position: absolute;
    top:3vh;
    animation: mover-direita-para-esquerda infinite 8s linear
}

.parar-animacao{
    animation-play-state: paused;
}

.player{
    height: 10vh;
    position: absolute;
    bottom: 30px;
    left: 50px;
}

.player-pulo{
    animation: player-pulo 0.8s;
}

@keyframes player-pulo{
    from{
        bottom: 30px;
    }
    
    50%{
        bottom: 120px;
    }

    to{
        bottom: 30px;
    }
}

.cano{
    width: 6vh;
    position: absolute;
    bottom: 30px;
    right: 50px;

    animation-name: mover-direita-para-esquerda;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    /* animation: mover-direita-para-esquerda infinite 2s linear */ 
}

@keyframes mover-direita-para-esquerda{
    from{
        right: -300px;
    }

    to{
        right: 100%;
    }
}

.chao{
    position: absolute;
    bottom: 0px;
    height: 30px;
    width: 100%;
   
    background: linear-gradient(limegreen 10%, #654321 90%);

}